.container {
  width: 100%;
  border: var(--border);
	border-radius: var(--section-border-radius);
}

.tableHeader {
  display: flex;
  font-weight: var(--bold);
  height: 1.7rem;
  scrollbar-gutter: stable;
  padding: 0rem 0.75rem 0.0rem 0.75rem;
}

.tableItemWithLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: none;
}

.balanceRow {
  display: flex;
  border-top: var(--border);
  padding: 0.75rem;
}

@media (hover: hover) {
  .balanceRow:hover {
    cursor: pointer;
    background-color: var(--list-hover-color);
  }
}

@media screen and (max-width: 900px) {
  .timeVotedHeader,
  .timeVoted {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .addressHeader,
  .address {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .tableHeader {
    display: none;
  }

  .balanceRow {
    flex-direction: column;
  }

  .tableItemWithLabel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
    gap: 0.5rem;
  }

  .label {
    display: unset;
  }
}