.detailsGrid {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.label {
  text-align: left;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
}